/*==================BASE CSS===============*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root{
    --highlight-color:#3498db;
    --highlight-secondary-color:#7bb5db;
    --main-bg-color: #222;
    --main-text-color: #fff;
}
html{
    scroll-behavior: smooth;
}
#bar {
  position: absolute;
  color: white;
}
/*==============HEADER CSS==============*/
header{
    padding:30px 10%;
    position: fixed;
    background-color: white;
    width:100%;
}


li, a{
    text-decoration: none;
    display: inline-block;
    color: var(--highlight-color);
}

ul{
    text-align: right;
}

#nav_links{
    list-style: none;
}

#nav_links li a{
    margin:0px 20px;
}


/*============UNDERLINE EFFECT CSS==========*/
.underline_effect{
    display: inline-block;
    position: relative;
    padding-bottom: 0.25rem;
}
.underline_effect::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--highlight-color);
    background-image: linear-gradient(to right, var(--highlight-color),var(--highlight-secondary-color));
    transition: width 0.25s ease-out;
}

.underline_effect:hover::before{
    width:100%;
    left: 0;
    right: auto;
}

/*===========BODY CSS==========*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

#home {
    height: 100vh;
  padding: 80px;
  text-align: center;
  background: black;
  color: white;
}
#main {
  padding: 10px 10px;
  background: var(--main-bg-color);
  color:var(--main-text-color);
}
.section {
  padding: 80px;
  margin-bottom:200px;
  display: grid;
  place-items: center;

  border-style: solid;
  border-color: white;
}

#about {
    margin-top: 0px;
}
#skills {
}
#projects {
}
#work {
}
#teams {
}
#awards {
}
hr{
    width: 100%;
    height:3px;
    border:0;
    background: linear-gradient(to right, var(--highlight-color),var(--highlight-secondary-color));
}
