/*==================BASE CSS===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --header-height: 3rem;
}

:root {
  --highlight-color: #3498db;
  --highlight-secondary-color: #7bb5db;
  --main-bg-color: #302f2f;
  --darker-bg-color: #272626;
  --main-text-color: #f2f2f2;

  --card_color_1: #e74c3c;
  --card_color_2: #16a085;
  --card_color_3: #3498db;
  --card_color_4: #8e44ad;
  --card_color_5: #f39c12;
  --card_color_6: #2ecc71;
}

:root {
  --body-font: "Open Sans", sans-serif;

  --biggest-font-size: 5rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--main-bg-color);
}

html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  height: auto;
}
h1{
  font-size: var(--h1-font-size);
}

h3{
  font-size: var(--big-font-size)
}
/*==============HEADER CSS==============*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-modal);
}

#nav_bar{
  height: var(--header-height);
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  transition: 0.3s ease;
}

li,
a {
  text-decoration: none;
  display: inline-block;
  color: var(--main-text-color);
  padding: 10px;
}

.nav_menu a{
  margin-right: 3rem;
  margin-bottom: 0;
}

#nav_bar ul {
  text-align: right;
}

#nav_toggle {
  font-size: 1.5rem;
  /*color: var(--main-text-color);*/
  color: transparent;
  cursor: pointer;
  padding: 10px;
  z-index: var(--z-modal);
}

#nav_links {
  list-style: none;
}

#nav_links li a {
  margin: 0px 20px;
}

.show {
  left: 0;
}

/*============UNDERLINE EFFECT CSS==========*/
.underline_effect {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}
.underline_effect::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--highlight-color);
  background-image: linear-gradient(
    to right,
    var(--main-text-color),
    var(--main-text-color)
  );
  transition: width 0.25s ease-out;
}

.underline_effect:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

/*===========BODY CSS==========*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/*=========HOME PAGE CSS==========*/
.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home_parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#img1 {
  background-image: url("/assets/imgm1.webp");
  z-index: var(--z-normal);
}
#img2 {
  background-image: url("/assets/imgm2.webp");
  z-index: var(--z-tooltip);
}
#img3 {
  background-image: url("/assets/imgm3.webp");
  z-index: var(--z-fixed);
}
#img4 {
  background-image: url("/assets/imgm4.webp");
  z-index: var(--z-fixed);
}
#home_title,
#home_subtitle {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: var(--biggest-font-size);
  columns: var(--main-text-color);
  color:var(--main-text-color);
}

#home_title {
  top: 32%;
  font-size: var(--biggest-font-size);
  z-index: var(--z-normal);
}
#home_subtitle {
  top: 50%;
  font-size: var(--h2-font-size);
  z-index: var(--z-tooltip);
}
#main_container{
  background: var(--main-bg-color);
  color: var(--main-text-color);
  margin-top: 100px;
}
#main {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.section {
  width:100%;
  padding: 30px;
  margin-bottom: 200px;
  text-align: center;
}

/*========= ABOUT SECTION ==========*/

#about h2{
  margin-top: 20px;
}
.about_container{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about_image{
  max-width: 100%;
  height: auto;
}
.about_image_container img{
  width: 300px;
}
.about_content{
  max-width: 66%;
  text-align: center;
  align-self: center;
  font-size: var(--big-font-size);
  line-height: 2.5rem;
  padding: 0px 10px;
}


/*========= SKILLS BAR =========*/
.skills_bar{
  margin-top: 50px;
  width: 100%;
  background-color: var(--darker-bg-color);
  border-radius: 10px;
  padding: 25px 30px;
  box-shadow: 5px 5px 10px black;
  text-align: left;
}


.bar{
  margin: 20px 0px;
}

.bar:first-child{
  margin-top: 0px;
}

.info{
  margin-bottom: 5px;
}

.info span{
  font-size: 17px;
  font-weight: 500;
}

.bar .progress_line{
  position: relative;
  height: 10px;
  width: 100%;
  background-color: var(--main-bg-color);
  border-radius: 10px;

  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5,1) forwards;
}

.bar .progress_line span{
  height: 100%;
  background-color: var(--highlight-color);
  position: absolute;
  border-radius: 10px;

  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5,1) forwards;

}
.bar .progress_line span::before{
  position: absolute;
  content: "";
  top: -10px;
  height: 0;
  width:0;
  right: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: var(--main-text-color);

  opacity: 0;
  animation: showText 0.5s 1.5s linear forwards;

}

.bar .progress_line span::after{
  position: absolute;
  top: -34px;
  right: 0;
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
  padding: 1px 8px;
  border-radius: 3px;
  
  opacity: 0;
  animation: showText 0.5s 1.5s linear forwards;
}
.htmlcss span{
  width: 85%;
}
.java span{
  width: 75%;
}
.python span{
  width: 60%;
}
.adobe span{
  width: 45%;
}
.javascript span{
  width: 50%;
}

.htmlcss span::after{
  content: "85%";
}
.java span::after{
  content: "75%";
}
.python span::after{
  content: "60%";
}
.adobe span::after{
  content: "45%";
}
.javascript span::after{
  content: "50%";
}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

@keyframes showText{
  100%{
    opacity: 1;
  }
}

/* ==========PROJECT CARDS ========*/
.projects_container{
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  position: relative;
  width: 300px;
  height: 350px;
  background-color: var(--darker-bg-color);
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
  transition: 0.25s ease;

}

.card h2 {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}
.card h2::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--highlight-color);
  background-image: linear-gradient(
    to right,
    var(--main-text-color),
    var(--main-text-color)
  );
  transition: width 0.25s ease-out;
}

.card:hover{
  transform: scale(1.05);
}
.card:hover > .icon{
  color: var(--main-text-color);
}

.card:hover > .card_title > a > h2::before{
  width: 100%;
  left: 0;
  right: auto;
}

.icon{
  font-size: 3.5rem;
  transition: 0.25s ease;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  min-height: 100px;
  display: grid;
  place-items: center;
}
.small_icon_container{
  display: inline-block;
}
.small_icon{
  font-size: 2.5rem;
  transition: 0.25s ease;
}
.small_icon_container:hover{
  transform: scale(1.2);
}

#card_1 .small_icon_container > a:hover{
  color: var(--card_color_1);
}
#card_1 .icon{
  color: var(--card_color_1);
}
#card_1:hover > .icon{
  background-color: var(--card_color_1);
  color: var(--main-text-color);
}

#card_2 .small_icon_container > a:hover{
  color: var(--card_color_2);
}
#card_2 .icon{
  color: var(--card_color_2);
}
#card_2:hover > .icon{
  background-color: var(--card_color_2);
  color: var(--main-text-color);
}

#card_3 .small_icon_container > a:hover{
  color: var(--card_color_3);
}
#card_3 .icon{
  color: var(--card_color_3);
}
#card_3:hover > .icon{
  background-color: var(--card_color_3);
  color: var(--main-text-color);
}

#card_4 .small_icon_container > a:hover{
  color: var(--card_color_4);
}
#card_4 .icon{
  color: var(--card_color_4);
}
#card_4:hover > .icon{
  background-color: var(--card_color_4);
  color: var(--main-text-color);
}

#card_5 .small_icon_container > a:hover{
  color: var(--card_color_5);
}
#card_5 .icon{
  color: var(--card_color_5);
}
#card_5:hover > .icon{
  background-color: var(--card_color_5);
  color: var(--main-text-color);
}

#card_6 .small_icon_container > a:hover{
  color: var(--card_color_6);
}
#card_6 .icon{
  color: var(--card_color_6);
}
#card_6:hover > .icon{
  background-color: var(--card_color_6);
  color: var(--main-text-color);
}

/*====== ACCORDION CSS ============*/
.accordion{
  width: 100%;
}

.accordion .content_container{
  position: relative;
  margin: 25px 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.accordion .content_container .label{
  position: relative;
  padding: 10px;
  background-color: var(--darker-bg-color);
  cursor: pointer;
}

.accordion .content_container .label::before{
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

.accordion .content_container .content{
  position: relative;
  background-color: #383838;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: hidden;
  padding-left: 10px;
  text-align:left;
  padding: 0px 30px;
}

.accordion .content_container.active .content{
  height: 300px;
  padding: 30px;
}

.accordion .content_container.active .label::before{
  content: '-';
  font-size: 1.5 rem;
}

.label h2 {
  font-size: var(--h2-font-size);
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}
.label h2::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--highlight-color);
  background-image: linear-gradient(
    to right,
    var(--main-text-color),
    var(--main-text-color)
  );
  transition: width 0.25s ease-out;
}

.label:hover > h2::before {
  width: 100%;
  left: 0;
  right: auto;
}

.content a{
  padding: 0px;
  text-decoration: underline;
}

.content h3{
  margin-bottom: 15px;
}

.content ul{
  display: static;
  list-style-type: circle;
  list-style-position: inside;
}

.content li{
  display: list-item;
  padding: 0px;
}



/* HR CSS*/
hr {
  width: 100%;
  height: 3px;
  border: 0;
  margin: 10px 0px;
  background: linear-gradient(
    to right,
    var(--highlight-color),
    var(--highlight-secondary-color)
  );
}

/*==== MEDIA QUERIES====*/

@media only screen and (max-width: 1030px) {
  .nav_menu {
    position: fixed;
    right: -100%;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    padding: 2rem;
    text-align: center;
    z-index: var(--z-fixed);
    transition: 0.75s ease;
  }
  li,
  #nav_bar a {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }
  #nav_bar ul {
    height: 100%;
    display: flex;
    padding: 10px 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #nav_toggle {
    color: var(--main-text-color)
  }
}
@media only screen and (max-width: 768px) {
  :root{
    --biggest-font-size: 3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.15rem;
    --big-font-size: 1.15rem;
    --normal-font-size: 1rem;
  }
  .info{
    margin-bottom: 35px;
  }
  .bar{
    margin: 40px 0px;
  }
  .about_container{
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  .about_content{
    margin-top: 50px;
    max-width: 100%;
    padding: 0px;
  }
  .section{
    margin-bottom: 100px;
  }
  .card{
    margin: 20px 0px;
  }
  .projects_container{
    padding: 20px 0px;
  }
}
